<%- include("start") -%>

<div id="primary" class="site-content">
		<div id="content" role="main">






<div class="container" style="max-width:800px;">
		<div class="row">

			<div class="col-12">
				<div class="card"style="border-radius: 100px; border-width:1px; border-color:blue;padding-bottom:5px">

				<div class="card-body" >
				<h5 class="card-title" style="font-size:25px;text-align:center; color:#235952; font-family: 'Lucida Console;, Courier, monospace;">Ample Subjects</h5>
				<p class="card-text" style="font-size:20px;padding:10px;color:#827397;text-align:center">
				  A varirty of subjects can be chosen from<Multiple subjects can be chosen</p>

				</div>
				</div>
			</div>

		</div>

		<div class="row" style="padding-top:20px">

			<div class="col-12">
				<div class="card"style="border-radius: 100px; border-width:1px; border-color:blue;padding-bottom:5px">

				<div class="card-body" >
				<h5 class="card-title" style="font-size:25px;text-align:center; color:#235952;font-family: 'Lucida Console;, Courier, monospace;">Carefully Picked Topics</h5>
				<p class="card-text" style="font-size:20px;padding:10px;color:#827397;text-align:center">
				Choose the topics from your subjects. All important gate topics are covered</p>

				</div>
				</div>
			</div>

		</div>

		<div class="row" style="padding-top:20px;padding-bottom:20px">

			<div class="col-12">
				<div class="card"style="border-radius: 100px; border-width:1px; border-color:blue;padding-bottom:5px">

				<div class="card-body" >
				<h5 class="card-title" style="font-size:25px;text-align:center; color:#235952;font-family: 'Lucida Console;, Courier, monospace;">Varying Levels</h5>
				<p class="card-text" style="font-size:20px;padding:10px;color:#827397;text-align:center">
				Finally choose your difficulty level, and you are good to go</p>

				</div>
				</div>
			</div>

		</div>

		<div class="row" style="padding-top:30px;align:center;margin:auto;border:0px">


				<div class="col-12" style="border:0px">
				<p class="card-text" style="font-size:20px;padding:10px;color:#827397;text-align:center">
				<a href="#"><button style="border:0px"><img src="images/button.png"></p>
			</div>

		</div>


</div>




		</div><!-- #content -->
	</div><!-- #primary -->


                <%- include("end") -%>
