<%- include("start") -%>

<div id="primary" class="site-content">
		<div id="content" role="main">

	<article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Database  Management  System</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">

			<p> History of Evolution of DBMS and advantages over traditional file system,Three-schema architecture of DBMS and Data Independence. Introduction ...
			<span class="read-more"><a href="syllabus.pdf" target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->


	</article>

	<article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Operating  System</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">
			<p>Operating system functions, evaluation of O.S., Different types of OS- batch, multi-programmed, time-sharing, real-time, distributed, parallel. ...
			<span class="read-more"><a href="syllabus.pdf" target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->


	</article>

	<article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Object Oriented Programing</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">
			<p>Basic Concepts of Object Oriented Programming – Objects, Classes and
Message Passing. Differences between conventional and Object-Oriented programming,  ...
			<span class="read-more"><a href="syllabus.pdf" target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->


	</article>

	<article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Java</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">
			<p>Relevance of Java in Distributed Programming Environment: Object Oriented
Programming language suitable for use in distributed environments. Concept ...
			<span class="read-more"><a href="syllabus.pdf"target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->


	</article><article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Computer Graphics</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">
			<p>Overview of graphics system: Video Display Devices, Raster-Scan and Random-Scan
Systems, Graphics Monitors , Input and Hard Copy Devices, Graphics  ...
			<span class="read-more"><a href="syllabus.pdf" target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->




	</article><article id="post-389919" class="post-389919 post type-post status-publish format-standard sticky hentry category-guestblogs tag-gfg-update">

		<header class="entry-header">
			<h2 class="entry-title">
				<a href="#"
				title="Permalink to Special 21 – Coding Interview Preparation in 21 Days Lockdown"
				rel="bookmark" style="color:blue">Computer Networks</a>

			</h2>
		</header><!-- .entry-header -->


		<div class="entry-summary">
			<p> Communication Tasks, Communication Model, Network Architecture,
ISO/OSI Reference Model, Switching, TCP/IP Model  ...
			<span class="read-more"><a href="syllabus.pdf"target="_blank">Detailed syllabus »</a></span></p>
		</div><!-- .entry-summary -->






	</article>




		</div><!-- #content -->
	</div><!-- #primary -->


    <%- include("end") -%>
